<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coroutinedemos">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoroutineDemos">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BasicConceptsActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".JobDemoActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".AsyncDemoActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".CoroutineCancelDemoActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".IsActiveDemoActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".ExceptionDemoActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".DispatcherDemoActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".image_processing.ImageProcessorActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>